.item-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 58px;
    justify-content: space-around;
}

.container {
    max-width: 100%;
    margin: 20px 0;
    
}

.counter{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    gap:12px;
}

.right-cart{
    display: flex;
    gap:12px;
    width: 100%;
    justify-content: end;
    padding: 30px 24px 0 0;

}

.left{
    display: flex;
    align-items: center;
}
