.form-container {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    padding: 115px;
    flex-direction: column;
    background-image: url('../..//public/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 75vh;
    
  }
  
  .form-container form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    width: 30vw;
    background-color: #fff;
    
  }
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    margin-bottom: 15px;
  }
  
  .form-container form button {
    border: 1px solid #FFCA40;
    margin-top: 25px;
    border-radius: 0;
    background-color: #FFCA40;
    color: black;
    width: 250px;
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    background: #000000; 
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    );
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); 

   
  }

  .image img{
        position: absolute;
        transform: translateY(-60%); 
        right: 305px;
        top: 50%;
  }